.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333333;
    transition: background-color 0.3s, color 0.3s;
}

.navbar.darkMode {
    background-color: #121212;
    color: #ffffff;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.logo img {
    height: 3rem;
    cursor: pointer;
    width: auto;
}

.iconButton,
.downloadButton {
    margin-left: 10px;
    padding: 10px;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.downloadButton {
    padding: 16px 32px;
    background-color: #00bfa6;
    color: white;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: 700;
}

.downloadButton:hover {
    background-color: #04fddc;
}

.darkMode .downloadButton {
    background-color: #00bfa6;
    color: #ffffff;
}

.darkMode .downloadButton:hover {
    background-color: #04fddc;
}